{:paths ["src" "test"]
 :deps {thheller/shadow-cljs {:mvn/version "2.15.2"}
        io.nervous/cljs-nodejs-externs {:mvn/version "0.2.0"}
        borkdude/sci {#_#_:mvn/version "0.2.6"
                      :git/url "https://github.com/viesti/sci"
                      :sha "8b0a89fd233bb18ecb5f1db3f07efaea181087a3"
                      #_#_:local/root "../../sci"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        org.clojure/data.json {:mvn/version "2.4.0"} ;; For reading package.json ad build time
        }
 :aliases {:repl/rebel
           {:extra-deps {nrepl/nrepl                {:mvn/version "0.8.3"}
                         cider/cider-nrepl          {:mvn/version "0.26.0"}
                         com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
            :main-opts  ["-m" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"
                         "-i"
                         "-f" "rebel-readline.main/-main"]}
           :pack {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                :sha "110ca11f853fa9dbb3f8eadba3c4176311bae4ac"}}
                  :main-opts ["-m"]}}}
