{:deps true
 ;; Disable cache from the namespace containing a macro that reads package.json version number
 :cache-blockers #{nrepl-cljs-sci.version}
 :builds {:app {:target :node-library
                :output-to "out/dist.js"
                :exports {:start_server nrepl-cljs-sci.core/start-server
                          :stop_server nrepl-cljs-sci.core/stop-server}
                :compiler-options {:infer-externs :auto}}
          :test {:target :node-test
                 :output-to "target/test/test.js"
                 :autorun true}}}
